<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public/styles/main.css">
    <link rel="stylesheet" href="public/styles/login.css">
    <title>REGISTER NEW PROJECT</title>
</head>
<body>
    <form action="/register" method="POST">
        <h1>Rejestracja</h1>
        <?php if (isset($error)): ?>
            <p style="color: red;"><?php echo htmlspecialchars($error); ?></p>
        <?php endif; ?>
        <input type="email" name="email" placeholder="email" required>
        <input type="password" name="password" placeholder="password" required>
        <input type="password" name="confirm_password" placeholder="confirm password" required>
        <button type="submit">Zarejestruj się</button>
        <a href="/login"><button type="button">Powrót do logowania</button></a>
    </form>
</body>
</html>
